@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 224 76% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 8% 95%;
    --secondary-foreground: 240 4% 16%;
    --muted: 240 8% 95%;
    --muted-foreground: 230 6% 40%;
    --accent: 228 8% 89%;
    --accent-foreground: 240 4% 16%;
    --destructive: 4 75% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 9% 46%;
    --input: 220 9% 46%;
    --ring: 224 76% 48%;
    --radius: 0.625rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 225 6% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 225 6% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 217 100% 77%;
    --primary-foreground: 212 63% 7%;
    --secondary: 225 7% 19%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225 6% 14%;
    --muted-foreground: 220 7% 71%;
    --accent: 225 7% 19%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 95% 80%;
    --destructive-foreground: 0 50% 10%;
    --border: 220 10% 57%;
    --input: 225 8% 10%;
    --ring: 217 100% 77%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
